{% extends 'jack/base.html' %}
{% block content %}
    <div class="ui container">
        <div class="ui two column stackable grid">
            <div class="four wide column">
                <h2>コメント</h2>
                <div class='ui item'>
                    <form class="ui form" action="{% url 'channel' channel.channel_id %}" method="POST">
                        {% csrf_token %}
                        <div class="two fields">
                            <div class="field">
                                {{ comment_form.comment }}
                            </div>
                            <div class="field">
                                <button class="ui button" name="add_comment" type="submit">追加</button>
                            </div>
                        </div>
                    </form>
                    {% for comment in channel.get_comment_list %}
                        <p>{{ comment.comment }}</p>
                    {% endfor %}            
                </div>
            </div>

            <div class="twelve wide column">
                <h2>
                    おすすめ動画
                </h2>
                {% for video in video_list %}
                    <div class="ui segment">
                        <div class="ui embed">
                            <iframe width="560" height="315" 
                                src="https://www.youtube.com/embed/{{ video.video_id }}" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}