{% extends 'jack/base.html' %}
{% block content %}
    <div class="ui container">
        <h1>
            <a href="https://www.youtube.com/user/{{ channel.channel_id }}/" target="_blank">
                {{ channel.channel_nm }}
            </a>
        </h1>
        <div class="ui divider"></div>
    </div>

    <div class="ui container">
        <div class="ui two column stackable grid">
            <div class="ui column">
                <h2>
                    コメント        
                </h2>
                <form class="ui form" action="{% url 'comment' 'channel' channel.channel_id %}" method="POST">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button class="ui button" type="submit">追加</button>
                </form>
                {% for comment in channel.get_comment_list %}
                    <div class="ui message">
                        {{ comment.comment }}
                    </div>
                {% endfor %}
                <div class="ui divider"></div>
            </div>

            <div class="ui column">
                <h2>
                    おすすめ動画
                </h2>
                <form class="ui form" method="POST">
                    {% csrf_token %}
                    {{ video_form.as_p }}
                    <button class="ui button" type="submit">追加</button>
                </form>
                {% if message %}
                    <p class="ui error message">{{ message }}</p>
                {% endif %}

                {% if video_list %}
                    {% for video in video_list %}
                        <div class="ui segment">
                            <div class="ui embed">
                                <iframe width="560" height="315" 
                                    src="https://www.youtube.com/embed/{{ video.video_id }}" 
                                    frameborder="0" 
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <form class="ui form" action="{% url 'comment' 'video' video.video_id %}" method="POST">
                                {% csrf_token %}
                                {{ comment_form.as_p }}
                                <button class="ui button" type="submit">追加</button>
                            </form>
                            {% for comment in video.get_comment_list %}
                                <div class="ui message">
                                    {{ comment.comment }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}