{% extends 'jack/base.html' %}
{% block content %}
    <p>
        <a href="https://www.youtube.com/user/{{ channel.channel_id }}/" target="_blank">
            {{ channel.channel_nm }}
        </a>
    </p>
    {% if video_list %}
        <ul>
            {% for video in video_list %}
                <li>
                    <a href="https://www.youtube.com/watch?v={{ video.video_id }}" target="_blank">
                        https://www.youtube.com/watch?v={{ video.video_id }}
                    </a>
                </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}