{% extends 'jack/base.html' %}
{% block content %}
    <div class="ui container">
        <h1>
            <a href="https://youtube.com/channel/{{ channel.channel_id }}/" target="_blank">
                {{ channel.channel_nm }}
            </a>
        </h1>
        <div class="ui divider"></div>
    </div>

    <div class="ui container">
        <div class="ui two column stackable grid">
            <div class="seven wide column">
                <h2>動画を探す</h2>
                <form class="ui form" method="POST">
                    {% csrf_token %}
                    <div class="two fields">
                        <div class="field">
                            {{ search_form.query }}
                        </div>
                        <div class="field">
                            <button class="ui button" name='search_video' type="submit">検索</button>
                        </div>
                    </div>
                </form>

                {% for result in search_result %}
                    <div class='ui item'>
                        <a href="https://www.youtube.com/watch?v={{ result.id.videoId }}" target="_blank">
                            <img
                                class="ui left floated image" 
                                src="{{ result.snippet.thumbnails.default.url }}" 
                                alt="{{ result.snippet.title }}" 
                            >
                        </a>
                        <h2 class="ui header">
                            {{ result.snippet.title }}
                            <div class="sub header">
                                {{ result.snippet.description}}
                            </div>
                        </h2>
                        <form action="{% url 'detail' channel.channel_id %}" class="ui form" method="POST">
                            {% csrf_token %}
                            <input name="video_id" type="hidden" value="{{ result.id.videoId }}">
                            <button class="ui button" name='add_video' type="submit">追加</button>
                        </form>
                    </div>
                    {% if message %}
                        <p>{{ message }}</p>
                    {% endif %}    
                    <div class="ui divider"></div>
                {% endfor %}
            </div>

            <div class="nine wide column">
                <h2>
                    おすすめ動画
                </h2>
                {% for video in video_list %}
                    <div class="ui segment">
                        <div class="ui embed">
                            <iframe width="560" height="315" 
                                src="https://www.youtube.com/embed/{{ video.video_id }}" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen>
                            </iframe>
                        </div>
                        <h3>
                            動画へのコメント
                        </h3>
                        <form class="ui form" action="{% url 'comment' 'video' video.video_id %}" method="POST">
                            {% csrf_token %}
                            <div class="two fields">
                                <div class="field">
                                    {{ comment_form.comment }}
                                </div>
                                <div class="field">
                                    <button class="ui button" type="submit">追加</button>
                                </div>
                            </div>
                        </form>
                        {% for comment in video.get_comment_list %}
                            <p>{{ comment.comment }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}