<nav class="navbar navbar-dark fixed-top bg-dark px-0 py-1 shadow">
    <div class="text-nowrap">
        <button 
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#sidebarMenu"
        >
            <i class="fas fa-bars fa-1x"></i>
        </button>
        <a class="navbar-brand col-md-3 col-lg-2" href="{% url 'index' %}">Django Jack</a>
    </div>
    <form class="search-form d-flex" action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        {{ search_form.query }}
        <button class="search-btn btn btn-sm my-0 btn-light z-depth-0" name='search' type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
    <div id="sidebarMenu" class="collapse navbar-collapse">
        {% include "jack/component/channel.html" with channel_list=channel_list %}
    </div>
</nav>