<nav class="navbar navbar-dark bg-dark fixed-top px-0 py-1 z-depth-0">
    <div class="text-nowrap ml-1">
        <button 
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#sidebarMenu"
        >
            <i class="fas fa-bars fa-1x"></i>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">
            <strong>
                Django Jack
            </strong>
        </a>
    </div>
    <form class="search-form md-form d-none d-md-flex ml-3 my-2" action="{% url 'search' %}" method="POST">
        {% csrf_token %}
        {{ search_form.query }}
        <button class="search-btn btn btn-sm px-3 my-0 btn-light z-depth-0" name='search' type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>    
    <div id="sidebarMenu" class="collapse navbar-collapse">
        <form class="search-form form-inline d-flex d-md-none ml-3" action="{% url 'search' %}" method="POST">
            {% csrf_token %}
            {{ search_form.query }}
            <button class="search-btn btn btn-sm my-0 btn-light z-depth-0" name='search' type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>    
        {% include "jack/component/channel.html" with channel_list=channel_list %}
    </div>
</nav>