{% extends 'jack/base.html' %}
{% block content %}
    <div class="mt-2">
        <div class="header-title"></div>
        <ul class="nav nav-tabs mb-2" role="tablist">
            <li class="nav-item">
                <a class="nav-link text-reset active" id="new-video-tab" data-toggle="tab" href="#new-video" role="tab" aria-controls="new-video" aria-selected="true">
                    最新動画
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-reset" id="popular-video-tab" data-toggle="tab" href="#popular-video" role="tab" aria-controls="popular-video" aria-selected="false">
                    人気動画
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-reset" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">
                    コメント
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="new-video-list tab-pane fade show active container" id="new-video" role="tabpanel" aria-labelledby="new-video-tab">
                {% include "jack/component/video.html" with title="最新の動画" video_list=new_video_list %}
            </div>
            <div class="popular-video-list tab-pane fade container" id="popular-video" role="tabpanel" aria-labelledby="popular-video-tab">
                {% include "jack/component/video.html" with title="人気の動画" video_list=popular_video_list %}
            </div>
            <div class="comment-list tab-pane fade container" id="comment" role="tabpaenl" aria-labelledby="comment-tab">
                準備中。。。
            </div>
        </div>
    </div>
    <script>
        $(document).on('click', '.channel-link', function(event) {
            event.preventDefault();
            var a = $(this);
            $.ajax({
                url: a.prop("href"),
                timeout: 10000,
                dataType: "text",
            })
            .done(function(data) {
                var res = JSON.parse(data);
                
                // 動画画面から遷移時のための初期化処理
                $('.video-player').remove();
                $('.video-comment').remove();
                $('.new-video-list').show();
                $('.popular-video-list').show();
                $('.search-channel-list').remove();
                $('.search-video-list').remove();
                
                $('.header-title').replaceWith(res['header_html']);
                $('.new-video-list').html(res['new_video_html']);
                $('.popular-video-list').html(res['popular_video_html']);
            })
            .fail(function(data) {
                alert("深刻なエラーが発生しました。。。");
            })
        });
        $(document).on('click', '.video-link', function(event) {
            event.preventDefault();
            var a = $(this);
            $.ajax({
                url: a.prop("href"),
                timeout: 10000,
                dataType: "text",
            })
            .done(function(data) {
                var res = JSON.parse(data);
                $('.new-video-list').empty().hide();
                $('.popular-video-list').empty().hide();
                $('.header-title').replaceWith(res['header_html']);
                $('.popular-video-list').after(res['video_player_html']);
            })
            .fail(function(data) {
                alert("深刻なエラーが発生しました。。。");
            })
        });
        $(document).on('submit', '.search-form', function(event) {
            event.preventDefault();
            var form = $(this);
            var data = form.serialize()
                + '&'
                + encodeURI(form.find('.search-btn').prop('name'))
                + '='
                + encodeURI(form.find('.search-btn').prop('value'))
            $.ajax({
                url: form.prop("action"),
                method: form.prop("method"),
                data: data,
                timeout: 10000,
                dataType: "text",
            })
            .done(function(data) {
                var res = JSON.parse(data);

                // 画面遷移時の初期処理
                $('.header-title').empty();
                $('.video-player').remove();
                $('.video-comment').remove();
                $('.new-video-list').empty().hide();
                $('.popular-video-list').empty().hide();
                $('.search-channel-list').remove();
                $('.search-video-list').remove();

                $('.popular-video-list').after(res['search_result_html']);
            })
            .fail(function(data) {
                alert("深刻なエラーが発生しました。。。");
            })
        });
        $(document).on("submit", ".add-form", function(event) {
            event.preventDefault();
            var form = $(this);
            var data = form.serialize()
                + '&'
                + encodeURI(form.find('.add-btn').prop('name'))
                + '='
                + encodeURI(form.find('.add-btn').prop('value'))
            $.ajax({
                url: form.prop("action"),
                method: form.prop("method"),
                data: data,
                timeout: 10000,
                dataType: "text",
            })
            .done(function(data) {
                var res = JSON.parse(data)
                form.children('.add-btn').prop('disabled', true);                    
            })
            .fail(function(data) {
                alert("深刻なエラーが発生しました。。。");
            })
        });
    </script>
{% endblock %}