{% extends 'jack/base.html' %}
{% block content %}
    <div class="ui container">
        <div class="ui two column stackable grid">
            <div class="column">
                <h2>チャンネルの検索結果</h2>
                {% for channel in channel_list %}
                    <div class='ui item'>
                        <a href="https://youtube.com/channel/{{ channel.channel_id }}" target="_blank">
                            <img
                                class="ui left floated circular image" 
                                src="{{ channel.thumbnails_url }}"
                                alt="{{ channel.channel_nm }}" 
                            >
                        </a>
                        <h2 class="ui header">
                            {{ channel.channel_nm }}
                            <div class="sub header">
                                {{ channel.description }}
                            </div>
                        </h2>
                        <form action="{% url 'search' %}" class="add-form ui form" method="POST">
                            {% csrf_token %}
                            <input name="channel_id" type="hidden" value="{{ channel.channel_id }}">
                            <input name="channel_nm" type="hidden" value="{{ channel.channel_nm }}">
                            <button class="add-btn ui button" name='add_channel' type="submit"
                                {% if channel.registered %}disabled{% endif %}
                            >
                                追加
                            </button>
                        </form>
                    </div>
                    <div class="ui divider"></div>
                {% endfor %}
            </div>

            <div class="column">
                <h2>動画の検索結果</h2>
                {% for video in video_list %}
                    <div class='ui item'>
                        <a href="https://www.youtube.com/watch?v={{ video.video_id }}" target="_blank">
                            <img
                                class="ui left floated image" 
                                src="{{ video.thumbnails_url }}" 
                                alt="{{ video.video_nm }}" 
                            >
                        </a>
                        <h2 class="ui header">
                            {{ video.video_nm }}
                            <div class="sub header">
                                {{ video.description }}
                            </div>
                        </h2>
                        <form action="{% url 'search' %}" class="add-form ui form" method="POST">
                            {% csrf_token %}
                            <input name="channel_id" type="hidden" value="{{ video.channel_id }}">
                            <input name="video_id" type="hidden" value="{{ video.video_id }}">
                            <button class="add-btn ui button" name='add_video' type="submit"
                                {% if video.registered %}disabled{% endif %}
                            >
                                追加
                            </button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        $(".add-form").submit(function(event) {
            event.preventDefault();
            var form = $(this);
            var data = form.serialize()
                + '&'
                + encodeURI(form.children('.add-btn').prop('name'))
                + '='
                + encodeURI(form.children('.add-btn').prop('value'))
            console.log(data)
            $.ajax({
                url: form.prop("action"),
                method: form.prop("method"),
                data: data,
                timeout: 10000,
                dataType: "text",
            })
            .done(function(data) {
                console.log(data)
                form.children('.add-btn').prop('disabled', true);
            })
            .fail(function(data) {
                alert("失敗しました");
            })
        });
    </script>
{% endblock %}