<div class="comment-list mt-3 mt-md-0">
    <form class="comment-form md-form d-flex mt-0 mb-2" action="{% url category foreign_id %}" method="POST">
        {% csrf_token %}
        {{ comment_form.comment }}
        <button class="add-btn btn btn-sm px-3 my-0 btn-light z-depth-0" name="add_comment" type="submit">
            <i class="fas fa-chevron-right"></i>
        </button>
    </form>
    <div>
        {% for comment in comment_list %}
            <p>{{ comment.comment }}</p>
        {% endfor %}
        <script>
            $(".comment-form").submit(function(event) {
                event.preventDefault();
                var form = $(this);
                var data = form.serialize()
                    + '&'
                    + encodeURI(form.find('.add-btn').prop('name'))
                    + '='
                    + encodeURI(form.find('.add-btn').prop('value'))
                $.ajax({
                    url: form.prop("action"),
                    method: form.prop("method"),
                    data: data,
                    timeout: 10000,
                    dataType: "text",
                })
                .done(function(data) {
                    var res = JSON.parse(data)
                    $('.comment-list').replaceWith(res['form']);
                })
                .fail(function(data) {
                    alert("深刻なエラーが発生しました。。。");
                })
            });
        </script>
    </div>
</div>