<div class='video-list'>
    <h3>{{ title }}</h3>
    <div class="row">
        {% for video in video_list %}
            <div class="col-lg-3 mb-3">
                <img class="rounded mx-auto d-block" src="{{ video.thumbnails_url }}" alt="{{ video.video_nm }}" >
                <h6>
                    <a class="video-link text-primary" href="{% url 'video' video.video_id %}">
                        {{ video.video_nm }}
                    </a>
                </h6>
            </div>
        {% endfor %}
    </div>
</div>