<div class='video-list'>
    <h3>{{ title }}</h3>
    <div class="row">
        {% for video in video_list %}
            <div class="col-lg-3 mb-3">
                <a class="video-link" href="{% url 'video' video.video_id %}">
                <img class="img-thumbnail mb-3" src="{{ video.thumbnails_url }}" alt="{{ video.video_nm }}" >
                    <h6>
                        {{ video.video_nm }}
                    </h6>
                </a>
            </div>
        {% endfor %}
    </div>
</div>